# ----------------------------------
# Python
# ----------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------------
# Virtual Environment
# ----------------------------------
venv/
env/
.venv/

# ----------------------------------
# Flask
# ----------------------------------
instance/
*.log

# ----------------------------------
# Database (SQLite)
# ----------------------------------
database.db
*.sqlite
*.sqlite3


# ----------------------------------
# Environment Variables
# ----------------------------------
.env
.env.*
